<h1></h1>

<div class="titulo">
  <!--<h2>HOY</h2>
  <button mat-mini-fab aria-label="">
    <mat-icon fontIcon="add"></mat-icon>
  </button>-->
</div>

<div class="lista-tarjetas">
  @for (item of
    [{
      "id": 13,
      "title": "Acer SB220Q bi 21.5 inches Full HD (1920 x 1080) IPS Ultra-Thin",
      "price": 599,
      "description": "21. 5 inches Full HD (1920 x 1080) widescreen IPS display And Radeon free Sync technology. No compatibility for VESA Mount Refresh Rate: 75Hz - Using HDMI port Zero-frame design | ultra-thin | 4ms response time | IPS panel Aspect ratio - 16: 9. Color Supported - 16. 7 million colors. Brightness - 250 nit Tilt angle -5 degree to 15 degree. Horizontal viewing angle-178 degree. Vertical viewing angle-178 degree 75 hertz",
      "category": "electronics",
      "image": "https://fakestoreapi.com/img/81QpkIctqPL._AC_SX679_.jpg",
      "rating": {"rate": 2.9, "count": 250}
    }]; track item.id) {
    <mat-card class="tarjeta">
      <div class="tarjeta-cabeza">
        <div class="aside-izq-imagen">
          <img src="{{ item.image }}">
        </div>
        <div class="aside-derecho">
          <div class="aside-titulo">
            <h1>{{ item.title }}</h1>
          </div>
          <div class="aside-texto">
            <h2>
              {{ item.category }}
            </h2>
            <h1>
              $ {{ item.price }}
            </h1>
            <div>
              Calificación: {{ item.rating.rate }} Cantidades disponibles: {{ item.rating.count }}
            </div>
          </div>
        </div>
      </div>
      <mat-card-content class="tarjeta-contenido">
        <div class="tarjeta-descripcion-principal">
          <h1 class="titulo-descripcion">
            DESCRIPCION DEL PRODUCTO
          </h1>
          <div class="contenido-descricpion">
            {{ item.description }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="tarjeta-pie">
        <div class="tarjeta-pie-botones">

        </div>
      </mat-card-footer>
    </mat-card>
  }
  <h1> Comentarios </h1>
  <div class="comentarios">
    <div class="mi-foto">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocKV1EEQBp…9FIbZ6qmrmByx1dnZizV1Az-uxX0775BX-=s96-c-rg-br100" alt="">
    </div>
    <div class="comentario-x">
      <p>Un comentario de producto, también conocido como review o reseña, es una evaluación escrita por un consumidor sobre un producto o servicio. Estos comentarios ofrecen información valiosa sobre las experiencias de otros compradores, ayudando a otros potenciales compradores a tomar decisiones informadas. </p>
    </div>
  </div>
  <div class="tu-comentario">
      <mat-form-field appearance="outline"  class="caja-comentario">
        <mat-label>Publicar mi comentario</mat-label>
        <input matInput placeholder="Mi comentario..." class="caja-comentario">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    <button mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
